html {
  background-image: url(logo.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
  background-size: 10%;
}
body {
    margin-left: 15vw;
    margin-right: 15vw;
    font-family:'DejaVu Sans', Arial, Helvetica, sans-serif;
    font-size:12pt;
}
h1 {
    margin-top: 10vh;
    text-align: center;
    font-size: 17pt;
    color: #859044;
}
h2 { font-size: 16pt; color: #859044; }
table { margin: auto; }
.error { color: red; font-weight: bold;}
.warning { color: darkorange; font-weight: bold;}
em { font-weight: bold; font-style: normal;}
progress { width: 100%; }
#formats img {
    height: 12pt;
    padding-right: 3pt;
}
#jobProgress, #uploadProgress {
    text-align: center;
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #CCCCCC;
  border-top-color: #859044;
  animation: spinner 1s linear infinite;
}
